<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
       <context:component-scan base-package="com.springTest" />
       <bean id="student"  class="com.springTest.bean.Student">
              <property name="name" value="#{card.name}"/>
              <property name="id" value="#{card.id}"/>
              <property name="clazz" value="c108"/>
       </bean>

       <bean id="card"  class="com.springTest.bean.Card">
              <property name="name" value="xiong2"/>
              <property name="id" value="2"/>
       </bean>
</beans>